.carousel-wrap {
	width: 100%;
	margin: 0 auto;
	position: relative;
    visibility: hidden;
    @include opacity(0);
    @include transition(3s);
    .container {
    	position: relative;
    }
	.search-form{
		top: 20px;
		right: 20px;
		z-index: 2;
		display: inline-block;
		position: absolute;
		&:before{
			position: absolute;
			display: block;
			content: '';
			background: url('../img/icons/loop.png') center center no-repeat;
			width: 28px;
			height: 23px;
			left: 20px;
			top: 10px;
			z-index: 1;
		}
	}
	.search-form{
		@include clearfix;
		background: #fff;
	    font-family: 'helveticaneuecyrthin';
		@include box-shadow(inset 2px 2px 3px 0px rgba(4, 4, 4, 0.75));
		.search-input{
			padding: 10px 10px 9px 60px;
			width: 370px;
			float: left;
			background: none;
			border: none;
			color: #747474;
			font-size: 16px;
			&:focus {
				outline: 0;
			}
		}
		.search-subm{
			margin-top: 2px;
			padding: 9px 10px 9px;
			margin-left: -5px;
			float: left;
			font-size: 16px;
			font-weight: 600;
			background-image: -moz-linear-gradient( 0deg, rgb(205,206,206) 0%, rgb(255,255,255) 50%, rgb(234,233,233) 100%);
			background-image: -webkit-linear-gradient( 0deg, rgb(205,206,206) 0%, rgb(255,255,255) 50%, rgb(234,233,233) 100%);
			background-image: -ms-linear-gradient( 0deg, rgb(205,206,206) 0%, rgb(255,255,255) 50%, rgb(234,233,233) 100%);
			background-image: linear-gradient( 0deg, rgb(205,206,206) 0%, rgb(255,255,255) 50%, rgb(234,233,233) 100%);
			color: #901d34;
		}
	}


    .item {
    	position: relative;
    	min-height: 670px;
    	text-align: center;
    	&:before{
    		display: inline-block;
    		content: '';
    		width: 0;
    		height: 660px;
    		vertical-align: bottom;
    	}
    }
    .slider-content_bg{
    	width: 100%;
    	height: 670px;
    	position: absolute;
    	top: 0;
    	left: 0;
    }
    .owl-controls{
    	margin: 0 auto;
	    width: 1200px;
    }
	.owl-nav{
		display: none;
	}
	.owl-dot{
		@include opacity(1);
	}
	.owl-dot:hover{
		@include opacity(0.8);
		@include transition(.25s);
	}

	.owl-dots {
		position: absolute;
		width: 1200px;
		text-align: center;
	    bottom: 5px;
		.active {
			background-color: #831f34;
		}

	}
	.owl-dot {
		float:none;
	    margin-right: 20px;
		background-color: #fff;
		box-shadow: inset 0px 2px 4px 0px rgba(14, 14, 14, 0.75);
		width: 34px;
		height: 34px;
	    border-radius: 50%;
	    display: inline-block;
	}

	.slider-content-wrap {
		text-align: left;
		position: relative;
		z-index: 1;
		vertical-align: bottom;
		display: inline-block;
		width: 1200px;
		margin: 0 auto;
		padding: 40px 10px;
		.slider-content{
			vertical-align: middle;
		}
		.slider-title-wrap {
			text-align: center;
			.slider-title{
				@include font-size(50px);
				font-family: 'nautilus_pompiliusregular';
				font-size: 65px;
				color: rgb(188, 3, 39);
				line-height: 65px;
				text-align: center;
			    font-weight: normal;
			    -webkit-text-stroke: 3px #fff;

			}
			margin-bottom: 85px;
		}
		.slider__content-nav{
			.link{
				display: inline-block;
				padding: 5px 30px 5px;
				border: 2px solid #901d34;
				font-family: 'nautilus_pompiliusregular';
				font-size: 30px;
				color: #bc0327;
			}
			margin-bottom: 40px;
		}
	}
	.slider__content_desc{
		text-align: center;
		font-size: 28px;
		font-family: 'helveticaneuecyrlight_italic';
		font-weight: 400;
		color: #2a2a2a;
		line-height: 42px;
		margin-bottom: 40px;
	}
}