.product__gallery_img-wrapper{
	width: 532px;
	height: 670px;
	border: 7px solid #f5f5f5;
	margin: 0 auto 25px;
	position: relative;
	.product-status{
		position: absolute;
		display: block;
		z-index: 3;
		top: 7px;
		right: 0;
		&.new{
			background: url('../img/product/status-avail.jpg') center center no-repeat;
			width: 96px;
			height: 49px;
		}
	}
	.product__gallery_img{
		vertical-align: bottom;
		display: inline-block;
		text-align: center;
		height: 656px;
		&:before{
			display: inline-block;
			content: '';
			vertical-align: bottom;
			height: 656px;
			width: 0;
		}
		img{
			display: inline-block;
			vertical-align: bottom;
			max-height: 100%;
			max-width: 100%;
		}
	}

}

.product__gallery-nav-bar{
	padding: 0 40px;
	margin-bottom: 25px;
	.slick-active{
		&:focus{
			outline: none;
		}
	}
	.slick-current{
		border: 2px solid #f57558;
		outline: none;
	}
}
.product__gallery_preview{
	border: 2px solid #f57558;
	height: 95px !important;
	width: 95px !important;
	text-align: center;
	border: 2px solid #f7f7f7;
	margin-right: 8px;
	&:before{
		display: inline-block;
		content: '';
		vertical-align: bottom;
		height: 90px;
		width: 0;
	}
	img{
		display: inline-block;
		vertical-align: bottom;
		max-height: 95%;
		max-width: 99%;
	}
}

.breadcrumbs{
	font-family: 'helveticaneuecyrlight';
	@include font-size(12px);
	@include opacity(.7);
	margin-bottom: 17px;
	padding-top: 18px;
}
.breadcrumbs__list{
	display: inline-block;
}
.breadcrumbs__item{
	display: inline-block;
}
.breadcrumbs__link{
	color: $orange;
	&:hover{
		text-decoration: underline;
	}
	&:after{
		display: block;
		float: right;
		@include font-size(9px);
		content: ">>";
		margin-left: 9px;
		margin-right: 5px;
		margin-top: 2px;
		color: #000000;
	}
	&_active{
		color: #000000;
		&:hover{
			text-decoration: none;
		}
		&:after{
			content: "";
		}
	}
}
// Product
.product{
	&__wrap{
		@include clearfix();
	}
	&__gallery{
		float: left;
		width: 49%;
	}
	&__content{
		float: right;
		width: 49%;
		padding-right: 55px;
	}
}
.product{
	.content-text {
		color:$gray;
		margin-right: 5px;
	}
	@include font-size(16px);
	font-family: 'helveticaneuecyrroman';
	&__title{
		@include font-size(26px);
		margin-bottom: 60px;
	}
	&__price-logo{
		@include clearfix();
		margin-bottom: 65px;
		.price-block{
			float:left;
		}
		.price__wrap{
			@include font-size(30px);
			color: $red;
			margin-bottom: 25px;
		}
		.price__value{

		}
		.price__text{
			margin-left: 10px;
		}
		.articul,
		.availab{
			@include font-size(15px);
		}
		.articul{
			margin-bottom: 15px;
		}
		.articul__text,
		.availab__text{
			color: $gray;
		}
		.articul__value,
		.availab__value{
			margin-left: 5px;
			color: #000000;
			font-weight: bold;
		}
		.logo-block{
			float:right;
		}
	}
	&__color-size{
		padding-left: 15px;
		.color-block__text{

		}
		.color-value,
		.size-value{
			color:#000000;
			font-weight: bold;
		}
		.size-title{
			@include clearfix();
			margin-bottom: 8px;
		}
		.size-block{
			margin-bottom: 45px;
		}
		.size-text{
			float: left;
		}
		.size-table{
			float: right;
		}
		// Стили для блоков с выборо цвета
		.color-block__text{
			margin-bottom: 9px;
		}
		.color-block{
			margin-bottom: 20px;
			.color-block__text{
				margin-bottom: 9px;
			}
			&__wrap{

			}
			&__list{

			}
			&__item{
				display: inline-block;
				width: 60px;
				height: 60px;
				border: 3px solid red;
			}
			&__link{
				display: block;
				width: 100%;
				height: 100%;
				overflow: hidden;
			}
			&__link img{
				display: block;
				width: 85%;
				height: 85%;
				margin: 0 auto;
				margin-top: 4px;
			}
		}
		.size-table__link{
			color: $orange;
			&:hover{
				color: #000000;
				text-decoration: underline;
			}
		}
		.size-blocks{
			&__list{
				@include font-size(14px);
			}
			&__item{
				border: 3px solid #e7e7e7;
				display: inline-block;
				width: 70px;
				height: 40px;
				margin-right: 3px;
			}
			&__link{
				display: inline-block;
				width: 100%;
				text-align: center;
				margin-top: 9px;
				color: #a69497;
			}

		}
	}
	&__spiner-button{
		.content-text-black{
			color:#000000;
		}
	}
}

.gallery{
	&__wrap{
		width: 535px;
		height: 675px;
		background: red;
		margin: 0 auto;
	}
}