h1{
	font-size: 2em;

}
main{
}
@include breakpoint(1024){
	h1{
		font-size: .2em;
	}
}
*{
	box-sizing: border-box;
}
.wrapper{
	min-width: 1220px;
	position: relative;
}
.container {
	min-width: 1200px;
	max-width: 1200px;
	margin: 0 auto !important;
}